.depict-recommendations__horizontal-scroll-row {
  overflow: auto;
  white-space: nowrap;
  margin-top: 20px;
}

.depict-recommendations__recommendation-item {
  display: inline-block;
  margin: 0 20px;
  max-width: calc(100% / 4);
}

.depict-recommendations__recommendation-img {
  max-width: 100%;
}

.depict-recommendations__recommendation-title {
  font-size: 85%;
  white-space: normal;
}

.depict-recommendations__recommendation-price {
  font-size: 85%;
}